{% comment %}
  Custom Blank Page Template: m4mb4rs
  Use this for exclusive or unique 44 Empire content.
{% endcomment %}

{% layout 'theme' %}

<div class="page-width">
  <div class="grid">
    <div class="grid__item">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
